<div id="footer">
<div class="c-12">
<p class="cms-editable" id="banner-text-home">
  <%#= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>

<a href="/map">8263 Foothill Blvd, Sunland Mall Shopping Center, Los Angeles, CA 91040</a>
</p>
</div>
</div>