@font-face {
  font-family: 'Homenaje';
  font-style: normal;
  font-weight: 400;
  src: local('Homenaje'), local('Homenaje-Regular'), url(http://themes.googleusercontent.com/static/fonts/homenaje/v2/jYyetuCOSxcVAexXms8sf3YhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}
